# Build outputs
**/build/

# Gradle / Kotlin cache
.gradle/
.kotlin/
.configuration-cache/

# Android Studio
.idea/
*.iml

# Local config
local.properties
docs/
*.keystore
*.jks
*.p12
*.pem
*.base64

# Native build
.externalNativeBuild/
.cxx/

# Dumps / logs
*.hprof
*.log

# OS
.DS_Store
Thumbs.db
